<html>
<head>
  <title>Pads</title>
  <meta name="description" content="All Pads">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/list/static/css/main.css">
  <script src="/static/js/jquery.js"></script>
</head>
<body>
  <div style="text-align:center; margin:40px 0 0 0"><img src="/list/static/img/logo_horiz_w700.png" /></div><br>
  <div class="head">
    <div style="text-align:center;">
      <a href="/">Zurück</a> | <a href="http://etherpad.c3s.cc/">Gruppenpads</a>
    </div>
    <input type="search" placeholder="search pads">
  </div>
  <ul>
    <% pads.forEach(function(pad){ %>
      <li><a href="p/<%= pad.toString() %>"><%= pad.toString() %></a></li>
    <% }) %>
  </ul>

  <script src="/list/static/js/main.js"></script>
</body>
</html>
